{%- if collection.description != blank -%}
  <p>{{ collection.description }}</p>
{%- endif -%}

<div is="promos" class="four">
  {%- for product in collection.products -%}

  <article is="promo">
    <a class="product-card" href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
      <h3>{{ product.title }}</h3>
      <p>
        {%- if product.price_varies -%}
          <span class="visuallyhidden">Starting at</span>
          {{ product.price_min | money_without_trailing_zeros }}
          <span class="visuallyhidden">to</span>
        {%- else -%}
          {{ product.price | money_without_trailing_zeros }}
        {%- endif -%}
      </p>
    </a>
  </article>

  {%- endfor -%}
</div>
